<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="row">
        <div class="col-7 m-auto">
            <h1 class="text-center fw-bold text-body-emphasis mb-5">Cadastre o seu contato!</h1>
            <div *ngIf="mensagem" class="alert alert-success mt-5 text-center fw-bold">
                  {{ mensagem }}
                </div>
             <form [formGroup]="formGroupContact"> 
                <div class="row">
                    <div class="mb-3 col-3">
                        <label for="inputName" class="form-label fw-bold">Nome</label>
                        <input formControlName="name" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite o nome do seu contato</div>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="inputName" class="form-label fw-bold">Sobrenome</label>
                        <input formControlName="lastName" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite o sobrenome do seu contato</div>
                    </div>
                    <div class="mb-3 col-3">
                        <label for="inputName" class="form-label fw-bold">Apelido</label>
                        <input formControlName="nickname" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite o apelido do seu contato</div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="inputName" class="form-label fw-bold">Telefone</label>
                        <input formControlName="phone" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite o telefone do seu contato</div>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="inputName" class="form-label fw-bold">E-mail</label>
                        <input formControlName="email" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite o e-mail do seu contato</div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="inputName" class="form-label fw-bold">Data de nascimento</label>
                        <input formControlName="dateBorn" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite a data de nascimento do seu contato</div>
                    </div>
                    <div class="mb-3 col-4">
                        <label for="inputName" class="form-label fw-bold">Idade</label>
                        <input formControlName="age" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite a idade do seu contato</div>
                    </div>
                    <div class="mb-3 col-4">
                        <label for="inputName" class="form-label fw-bold">Sexo</label>
                        <select  formControlName="gender" class="form-select">
                            <option value="masculino">Masculino</option>
                            <option value="feminino">Feminino</option>
                        </select>
                        <div id="nameHelp" class="form-text">Escolha o sexo do seu contato</div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="inputName" class="form-label fw-bold">Cidade</label>
                        <input formControlName="city" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite a cidade do seu contato</div>
                    </div>
                    <div class="mb-3 col-4">
                        <label for="inputName" class="form-label fw-bold">Bairro</label>
                        <input formControlName="area" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Digite o bairro do seu contato</div>
                    </div>
                    <div class="mb-3 col-4">
                        <label for="inputName" class="form-label fw-bold">Categoria</label>
                        <select  formControlName="category" class="form-select">
                            <option value="Familia">Família</option>
                            <option value="Amigo">Amigo</option>
                            <option value="Colega de Trabalho">Colega de Trabalho</option>
                            <option value="Prestador de Serviço">Prestador de Serviço</option>
                            <option value="Outro">Outros</option>
                        </select>
                        <div id="nameHelp" class="form-text">Escolha a categoria do seu contato</div>
                    </div>
                </div>
                <div class="row">                    
                    <div class="p-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" formControlName="favorite" type="checkbox" value="true" id="checkDefault">
                            <label class="form-check-label" for="checkDefault">
                                Adicionar aos favoritos
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary col-2" (click)="save()">
                        Salvar
                    </button>
                    <button class="btn btn-danger col-2" (click)="clear()">
                        Cancelar
                    </button>
                </div>              
            </form>
        </div>
    </div>
</div>
