<div class="d-flex flex-column flex-shrink-0 p-3 bg-sidebar min-vh-100" style="width: 280px;">
  <a routerLink="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-white">
    <svg class="bi pe-none me-2" width="40" height="32"></svg>
    <span class="fs-4 font">☏ Contatinhos</span>
  </a>

  <hr style="border-color: white">


  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="/home" class="nav-link text-white text" aria-current="page" routerLinkActive="bg-active">
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
        </svg>
        Início
      </a>
    </li>
    <li>
      <a routerLink="/register" class="nav-link text-white text" routerLinkActive="bg-active">
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
        </svg>
        Cadastrar Contato
      </a>
    </li>
    <li>
      <a routerLink="/contactlist" class="nav-link text-white text" routerLinkActive="bg-active">
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
        </svg>
        Lista de Contatos
      </a>
    </li>
    <li>
      <a routerLink="/favorites" class="nav-link text-white text" routerLinkActive="bg-active">
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
        </svg>
        Favoritos
      </a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column ">
    <hr style="border-color: white">
    <a routerLink="/about" class="nav-link text-white text" routerLinkActive="bg-active">
      <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
      </svg>
      ⓘ Sobre
    </a>
  </ul>
</div>

<footer class="text-center fixed-top bg-sidebar text1">
    .
</footer>